<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div class="Card">
        <div class="container CardInner">
            <form action="/login" method="POST">
                <h1>Login</h1>
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
                <label for="username">Username:</label>
                <input class="InputContainer" type="text" name="username" id="username" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
                <br>
                <form action="?" method="POST">
                    <div class="g-recaptcha" data-sitekey="6LfSZsgpAAAAAJ1N_BhqxGnj4eljIHTU9PypAaMW"></div>
                    <br/>
                  </form>
                <div class="button-container">
                    <button type="submit">Login</button>
                    <button type="button" onclick="redirectToRegister()">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
