<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        <form method="post">
            {{ form.hidden_tag() }}
            {{ form.username.label }} {{ form.username(size=20) }}        
        <form action="?" method="POST">
            <div class="g-recaptcha" data-sitekey="6LfSZsgpAAAAAJ1N_BhqxGnj4eljIHTU9PypAaMW"></div>
            <br/>
            <input type="submit" value="Submit">
          </form>
    </form>
</body>
</html>
